<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="vehicle" value="boat" />
        <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/boat.world" />
	</include>

	<!-- Our node to control the drone -->
	<!-- <node pkg="offboard_pkg" type="offboard_node" name="offboard_node" required="true" output="screen" /> -->
</launch>
